
<title>Submitted Data</title>

{% include "header.html" %} 
<body>

    <h1>Submitted Data</h1>
    <!-- Search form -->
    <div class="search-container">
        <form method="GET" action="/display/" class="search-form">
            <label for="search" class="search-label"></label>
            <input type="text" class ="search-input" id="search" name="search" placeholder="Enter name to search...">
            <br>
            <button type="submit" class="search-button">Search</button>
            
        </form>
    </div>

    <!-- Display filtered data -->
    <div class="data-container">
        {% if filtered_data %}
            {% for entry in filtered_data %}
            <div class="entry">
                <h3>{{ entry.FullName }}</h3>
                <p><strong>Email:</strong> {{ entry.Email }}</p>
                <p><strong>Phone Number:</strong> {{ entry.PhoneNo }}</p>
                <p><strong>Message:</strong> {{ entry.Message }}</p>
                <p><strong>Subject:</strong> {{ entry.Subject }}</p>
            </div>
            {% empty %}
            <p>No entries found.</p>
            {% endfor %}
        {% else %}
            <p>Enter a name to search.</p>
        {% endif %}
    </div>

    {% include "footer.html" %}
</body>
